
.container {
  max-width: 1920;
  margin: 0px auto;
}

.header{
  margin-top: 14px;
}


.header-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right-side{
  font-family: "Outfit", sans-serif; ;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-logo{
  font-family: "Outfit", sans-serif; ;
  font-size: 39.81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name
{
  margin-left: 49px;
}
.avatar{
  margin-right: 141px;
}
.geo{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.city-ch{
  margin-bottom: 10px;
  margin-right: 21px;
  display: flex;
  justify-content: space-between;


}



body, html{
  scroll-behavior: smooth;
  margin:0;
  padding: 0;
}


*{
  box-sizing: border-box;
}




