body, html{
  scroll-behavior: smooth;
  margin:0;



*{
  box-sizing: border-box;
}

.container {
  max-width: 1920;
  margin: 0px auto;
}


.header{
  padding: 14px 0px;
  background-color 
}

.header-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right-side{
  font-family: "Outfit", sans-serif; ;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-logo{
  font-family: "Outfit", sans-serif; ;
  font-size: 39.81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name
{
  margin-left: 49px;
}
.avatar{
  margin-right: 52px;
}
.geo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;

}

.cart{
  margin-right: 52px;


.city-ch{
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}


.start-page{

  background-color: #F8F8F8;
}







